<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <span class="logo" routerLink="/">Search for Other Games</span>
      <input
        class="search-input"
        name="search"
        ngModel
        placeholder="Over 500,000+ games"
      />
      <button class="search-button">Search</button>
    </form>
    <a href="https://www.systemrequirementslab.com/cyri" target="_blank">Testing Site</a>
    <button class="hButton" style="margin-right: 30px" (click)="balikHome()"> Home </button>
  </div>
  